[SddmGreeterTheme]
Name=PurpleArch
Description=PurpleArch sddm theme
Author=Tobias Schönfelder	
Copyright=(c) 2019, Tobias Schönfelder
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=''
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=purpleArch
Theme-API=2.0
